.vscode/**
.vscode-test/**
documentation/**
node_modules/**

src/**/*.ts

.gitignore
.eslintcache
.yarnrc
webpack.config.js
vsc-extension-quickstart.md

**/tsconfig.json
**/.eslintrc.json
**/*.map

*.vsix
.DS_Store
